{{ template "header.html" . }}

      <div class="card card-compact w-fit bg-base-100 shadow-xl mx-auto my-8">
        <div class="card-body">
          <h2 class="card-title">Log in to your account</h2>
          <form id="frm" method="post" action="{{ .PostURL }}">
          <div class="form-control grid grid-cols-1 gap-2">
              <input id="login" required name="login" type="text" tabindex="1"
                placeholder="{{ .UsernamePrompt }}" {{ if .Username }} value="{{ .Username }}" {{ else }} autofocus {{ end }}
                class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" />
              <input id="password" name="password" type="password" tabindex="2"
                placeholder="password" {{ if .Invalid }} autofocus {{ end }}
                class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" />
          </div>
          <div class="card-actions mt-4 justify-end">
            {{ if .BackLink }}
            <a href="{{ .BackLink }}" class="btn btn-outline btn-ghost normal-case">Another method</a>
            {{ end }}
            <button id="submit-login" type="submit" class="btn btn-active btn-info normal-case text-slate-50" tabindex="3">Login</button>
            <button id="submit-reset" type="reset" class="btn btn-active btn-info normal-case text-slate-50" tabindex="4" onclick="resetForm()">Reset</button>
          </div>
          </form>

          {{ if .Invalid }}
          <div id="msg" class="alert alert-warning">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
              <div>
                <h3 class="font-bold">Login failed</h3>
                <div class="text-xs">
                  Invalid {{ .UsernamePrompt }} or password.
                </div>
              </div>
            </div>
            <div class="flex-none">
              <button class="btn btn-square btn-xs btn-ghost" onclick="closeMessage()">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
              </button>
            </div>
          </div>
          {{ end }}

        </div>
      </div>

{{ template "footer.html" . }}
